<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Oopz</string>
	<key>CFBundleExecutable</key>
	<string>Oopz</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>cn.oopz.mac</string>
	<key>CFBundleName</key>
	<string>Oopz</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.6</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cn.oopz.mac.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>oopz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSAppNapIsDisabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Oopz 需要使用麦克风进行语音连麦</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Oopz 需要屏幕录制权限以发起屏幕共享</string>
</dict>
</plist>
